/* Reseteo de CSS */

* {
    margin: 0;
    padding: 0;
}

ul,
ol {
    list-style: none;
}

body {
    line-height: 1.5;
    font-family: Helvetica, Arial, sans-serif;
}

a {
    text-decoration: none;
    color: black;
}


/* --------- Header -------- */
header a {
    text-decoration: none;
    color: black;
    display: flex;
    align-items: center;
}

header {
    background-color: rgba(65, 117, 177, 0.89);
    padding: 15px;

    display: flex;
    justify-content: center;
    align-items: baseline;
    flex-direction: column;
}

.top-nav {
    display: flex;
    gap: 40px;
    padding-left: 5px;

}

/* .middle-nav {
    box-sizing: unset;
    font-size: 15px;
}
 */
 
.search{
    border-radius: 12px;
}

.align-nav{
    display: flex;
    margin: auto;
}


header input[type=text] {
    padding: 6px;
    margin-top: 8px;
    font-size: 17px;
    border: none;
}

nav {
    display: flex;
    align-self: center;
    padding-top: 10px;
}

.nav-list {
    padding-top: 20px;
    display: flex;
    gap: 25px;
    align-items: center;

}

.nav-list li {
    background-color: #e7e7e7;
    color: black;
    text-align: center;
    width: 100px;
    height: 30px;
    border: 1px solid black;
    overflow: hidden;
    display: flex;
    justify-content: center;
    padding: 5px;
    border-radius: 6px;
}


/* ============ INDEX ========== */

/* ------------ Portada ---------- */

.portada-imagen {
    background-color: tomato;
    height: 18.9vh;
    width: 100%;
    background-image: url("../img/computer-sales-and-services.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    display: flex;
    justify-content: center;
    align-items: center;
}



/* ---------- Productos ------------ */


.tarjetas-destacados {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.productos-titulo {
    background-color: rgb(93, 165, 165);
    text-align: center;
    padding: 15px;
    color: #e7e7e7;
}

.tarjeta {
    border: 2px solid black;
    width: 280px;
    height: 350px;
    border-radius: 15px;
    overflow: hidden;
}

.tarjeta img {
    width: 100%;
    height: 70%;
    object-fit: cover;

}

.tarjeta-cuerpo {
    height: 25%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.btn {
    background-color: cadetblue;
    padding: 10px 20px;
    border-radius: 20px;
    color: white;
    cursor: pointer;
}



/* ============ FOOTER ========== */

footer {
    background-color: rgb(64, 72, 190);
    text-align: center;

}

footer h1 {
    color: white;
}

.fa-square-phone{
    color: #e7e7e7;
    margin: 10px;
}

.fa-camera{
    color: #e7e7e7;
    margin: 2px;
}


/* ============ AYUDA ========== */

/* .faq {
    display: flex;
    height: 20vh;
    width: 50vh;
    align-items: baseline;
    justify-content: center;


} */

.titulo-ayuda {
    background-color: rgb(216, 143, 94);
    text-align: center;
    margin-bottom: 0;
    padding: 15px;
    color: #e7e7e7;
}

.titulo-faq {
    background-color: rgb(216, 94, 191);
    text-align: center;
    padding: 5px;
    margin-top: 0;
    color: #e7e7e7;
}

.toggle-button {
    position: absolute;
    top: 2rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 40px;
    height: 28px;
}

/* ============ Media Queries ========== */
/* Small and medium small devices (landscape phones) */
@media only screen and (max-width: 680px) {
    header {
        padding: 10px;
    }


    header input[type="text"] {
        font-size: 14px;
    }


    

    .tarjeta {
        width: 100%;
        height: 300px;
        margin-bottom: 20px;
    }

    .tarjetas-destacados {
        flex-direction: column;
    }

    .nav-list {
        flex-direction: column;
        gap: 10px;
    }

    .nav-list li {
        width: 80px;
        font-size: 11px;
    }

    .toggle-button {
        display: block;
    }
}