/* Reseteo de CSS */

* {
    margin: 0;
    padding: 0;
}

ul,
ol {
    list-style: none;
}

body {
  line-height: 1.5;
  font-family: Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none;
    color: black;
}


/* --------- Header -------- */
header a {
    text-decoration: none;
    color: black;
}

header {
    background-color: rgba(65, 117, 177, 0.89);
    padding: 15px;

    display: flex;
    justify-content: center;
    align-items: baseline;
    flex-direction: column;
}

.top-nav {
    display: flex;
    gap: 40px;
    padding-left: 5px;
    
}



header input[type=text] {
    padding: 6px;
    margin-top: 8px;
    font-size: 17px;
    border: none;
  }

nav {
    display: flex;
    align-self: center;
    padding-top: 10px;
}

.nav-list {
    padding-top: 20px;
    display: flex;
    gap: 25px;
    align-items: center;
    
}

.nav-list li {
    background-color: #e7e7e7; 
    color: black;
    
    text-align: center;
    width: 100px;
    height: 30px;
    border: 1px solid black;
    overflow: hidden;
} 


/* ============ INDEX ========== */

/* ------------ Portada ---------- */

.portada-imagen {
    background-color: tomato;
    height: 18.9vh;
    width: 100%;
    background-image: url("../img/computer-sales-and-services.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    display: flex;
    justify-content: center;
    align-items: center;
}



/* ---------- Productos ------------ */


.tarjetas-destacados {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.productos-titulo {
    background-color: rgb(96, 116, 116);
    text-align: center;
    padding: 15px;
}

.tarjeta {
    border: 5px solid black;

    width: 280px;
    height: 350px;

    border-radius: 15px;
    overflow: hidden;
}

.tarjeta img {
    width: 100%;
    height: 70%;
    object-fit: cover;

}

.tarjeta-cuerpo {
    height: 25%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.btn {
    background-color: cadetblue;
    padding: 10px 20px;
    border-radius: 20px;
    color: white;
    cursor: pointer;
}



/* ============ FOOTER ========== */

footer {
    background-color: rgb(34, 42, 160);
}

footer h1 {
    color: white;
}


/* ============ Media Queries ========== */
/* Small devices (landscape phones) */
@media only screen and (max-width: 480px) {
    header {
    padding: 10px;
    }
    
    .top-nav {
    display: none;
    }
    
    header input[type="text"] {
    font-size: 14px;
    }
    
    .nav-list li {
    width: 80px;
    font-size: 12px;
    }
    
    .tarjeta {
    width: 100%;
    height: 300px;
    margin-bottom: 20px;
    }
    
    .tarjetas-destacados {
    flex-direction: column;
    }
}